Repository eoleedi/TimeTree-Exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, black, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: local
    hooks:
      - id: uv-lock
        name: uv-lock
        entry: uv lock
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]
        args: ["--quiet"]
      - id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]

build: generate coverage report directly with pytest
  .github/workflows/lint-and-test.yml
Due: none

build: enable cache
  .github/workflows/lint-and-test.yml
  .github/workflows/python-publish.yml
Due: none

Build: migrate to uv as package management (#136)
  .github/dependabot.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: uv-lock

build: use PEP639 format for license
  pyproject.toml
Due: uv-lock

docs: remove deprecated sync --dev option
  README.md
Due: none

ci: remove deprecated --dev option
  .github/workflows/lint-and-test.yml
Due: none

ci: limit permission of workflow
  .github/workflows/bump-homebrew-formula.yml
  .github/workflows/lint-and-test.yml
Due: none

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: bump version in uv.lock by release-please
  release-please-config.json
Due: none

ci: use advanced config
  .github/workflows/release-please.yml
Due: none

ci: update the permission of release-please to include issues write
  .github/workflows/release-please.yml
Due: none

chore: bootstrap releases for path: . (#139)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: limit permission of workflow (#138)
  .github/workflows/bump-homebrew-formula.yml
  .github/workflows/lint-and-test.yml
Due: none

ci: define changelog-section, commit types for releasing
  release-please-config.json
Due: none

chore(main): release 0.6.2
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

chore(main): release 0.6.2 (#137)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

chore(main): release 0.6.3
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

fix: migrate to hatchling build-system
  pyproject.toml
Due: uv-lock

fix: migrate to hatchling build-system (#144)
  pyproject.toml
Due: uv-lock

chore(main): release 0.6.3 (#141)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

ci: migrate to ruff as linter and formatter
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  tests/conftest.py
  tests/test_event.py
  tests/test_formatter.py
  tests/test_utils.py
  timetree_exporter/__init__.py
  timetree_exporter/__main__.py
  timetree_exporter/api/auth.py
  timetree_exporter/formatter.py
  timetree_exporter/utils.py
  uv.lock
Due: uv-lock, black, pylint

fix: update workflow to use ruff to lint
  .github/workflows/lint-and-test.yml
Due: none

feat: Support labels
  tests/conftest.py
  tests/test_event.py
  tests/test_formatter.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/event.py
  timetree_exporter/formatter.py
Due: black, pylint

build!: drop python 3.9 support as it reaches EOL
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock

ci: remove 3.9 from lint-and-test workflow
  .github/workflows/lint-and-test.yml
Due: none

build!: drop python 3.9 support as it reaches EOL (#147)
  .github/workflows/lint-and-test.yml
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock

ci: enable bump-minor-pre-major
  release-please-config.json
Due: none

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

Fetch labels even when `split_by_label` is off
  timetree_exporter/__main__.py
Due: black, pylint

Simplify parse_labels
  timetree_exporter/api/calendar.py
Due: black, pylint

Fix docstring
  timetree_exporter/api/calendar.py
Due: black, pylint

feat: support labels (#146)
  tests/conftest.py
  tests/test_event.py
  tests/test_formatter.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/event.py
  timetree_exporter/formatter.py
Due: black, pylint

style: simplify main function to pass pylint rules
  timetree_exporter/__main__.py
Due: black, pylint

docs: mark label ID as done
  README.md
Due: none

ci: migrate to ruff as linter and formatter
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  tests/conftest.py
  tests/test_event.py
  tests/test_formatter.py
  tests/test_utils.py
  timetree_exporter/__init__.py
  timetree_exporter/__main__.py
  timetree_exporter/api/auth.py
  timetree_exporter/api/calendar.py
  timetree_exporter/formatter.py
  timetree_exporter/utils.py
  uv.lock
Due: uv-lock, black, pylint

ci: migrate to ruff as formatter and linter (#155)
  .github/workflows/lint-and-test.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  tests/conftest.py
  tests/test_event.py
  tests/test_formatter.py
  tests/test_utils.py
  timetree_exporter/__init__.py
  timetree_exporter/__main__.py
  timetree_exporter/api/auth.py
  timetree_exporter/api/calendar.py
  timetree_exporter/formatter.py
  timetree_exporter/utils.py
  uv.lock
Due: uv-lock, black, pylint
