Repository eoleedi/TimeTree-Exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff, ruff-format

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  pass_filenames: false

ruff:
  name: ruff lint
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

fix: keep the original path parent in output path
  timetree_exporter/__main__.py
Due: ruff, ruff-format

docs: update README.md
  README.md
Due: none

update LICENSE year
  LICENSE
Due: none

fix: unknown bug when google calendar process long timezone blocks
  timetree_exporter/__main__.py
Due: ruff, ruff-format

feat: support color of events and calendar from label (although downstream calendar doesn't support yet)
  timetree_exporter/__main__.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

feat: print actual color in list labels
  timetree_exporter/__main__.py
Due: ruff, ruff-format

feat: more transparent auth error type
  tests/test_auth.py
  timetree_exporter/api/auth.py
Due: ruff, ruff-format

fix: incorrect testing format
  tests/test_auth.py
Due: ruff, ruff-format

fix: validate the color format
  tests/test_main.py
  timetree_exporter/__main__.py
Due: ruff, ruff-format

feat: support label's color (#158)
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

docs: use note notation
  README.md
Due: none

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

chore(main): release 0.7.0 (#148)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

fix: handle unnamed labels when splitting exports
  tests/test_main.py
  timetree_exporter/__main__.py
Due: ruff, ruff-format

fix: correct all-day multi-day event end dates
  tests/test_formatter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

chore(main): release 0.7.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

fix: bound exported timezone definitions
  tests/test_main.py
  tests/test_utils.py
  timetree_exporter/__main__.py
  timetree_exporter/utils.py
Due: ruff, ruff-format

fix: normalize date-only recurrence until
  tests/test_formatter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

fix: preserve all-day recurrence until dates
  tests/test_formatter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

fix: use start timezone for recurrence until
  tests/test_formatter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

fix: preserve final occurrence for date-only RRULE UNTIL (#177)
  tests/test_formatter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

feat: add developer raw response diagnostics
  .gitignore
  tests/test_calendar.py
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
Due: ruff, ruff-format

docs: add development guide on seperate file
  .release-please-manifest.json
  DEVELOPMENT.md
  README.md
Due: none

fix: group raw responses by calendar
  tests/test_calendar.py
  timetree_exporter/api/calendar.py
Due: ruff, ruff-format

refactor: add concise developer raw response diagnostics and development.md (#178)
  .gitignore
  .release-please-manifest.json
  DEVELOPMENT.md
  README.md
  tests/test_calendar.py
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
Due: ruff, ruff-format

refactor: split cli and exporter helpers
  tests/test_main.py
  tests/test_utils.py
  timetree_exporter/__main__.py
  timetree_exporter/cli.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

refactor: centralize export workflow
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

refactor: centralize developer diagnostics
  tests/test_calendar.py
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/config.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

refactor: introduce calendar domain object
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

refactor: keep diagnostics and export helpers internal
  tests/test_calendar.py
  timetree_exporter/api/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

refactor: clarify calendar output path type
  timetree_exporter/exporter.py
Due: ruff, ruff-format

refactor: exporter CLI modules (#179)
  tests/test_calendar.py
  tests/test_main.py
  tests/test_utils.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/config.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

chore(main): release 0.7.2
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

chore(main): release 0.7.2 (#175)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

cd: add a 24 hour delay to homebrew release
  .github/workflows/bump-homebrew-formula.yml
Due: none

docs: show it's RFC 5545 compatible
  README.md
Due: none

chore(main): release 0.7.3
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

chore: update dependencies
  uv.lock
Due: uv-lock

feat: support public calendar exports
  DEVELOPMENT.md
  README.md
  tests/test_calendar.py
  tests/test_event.py
  tests/test_formatter.py
  tests/test_main.py
  timetree_exporter/__init__.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/api/const.py
  timetree_exporter/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/event.py
  timetree_exporter/exporter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

Path conditions:
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
