Repository eoleedi/TimeTree-Exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff, ruff-format

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  pass_filenames: false

ruff:
  name: ruff lint
  entry: uv run ruff check
  language: system
  args:
  - --fix

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

fix: page through public calendar events
  DEVELOPMENT.md
  tests/test_calendar.py
  timetree_exporter/api/calendar.py
Due: ruff, ruff-format

fix: bound public recurring events
  DEVELOPMENT.md
  tests/test_formatter.py
  timetree_exporter/event.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

fix: list public labels from metadata
  DEVELOPMENT.md
  tests/test_calendar.py
  tests/test_main.py
  timetree_exporter/api/calendar.py
  timetree_exporter/calendar.py
Due: ruff, ruff-format

fix: preserve zero public label values
  tests/test_calendar.py
  tests/test_event.py
  tests/test_main.py
  timetree_exporter/api/calendar.py
  timetree_exporter/event.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

feat: refine public event metadata mapping
  DEVELOPMENT.md
  tests/test_event.py
  tests/test_formatter.py
  timetree_exporter/event.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

docs: clarify iCalendar extension compatibility
  README.md
Due: none

fix: handle public metadata zero values
  tests/test_formatter.py
  tests/test_main.py
  timetree_exporter/exporter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

fix: stop mapping public until_at to recurrence bounds
  DEVELOPMENT.md
  tests/test_formatter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

feat: support public calendar exports (#187)
  DEVELOPMENT.md
  README.md
  tests/test_calendar.py
  tests/test_event.py
  tests/test_formatter.py
  tests/test_main.py
  timetree_exporter/__init__.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/api/const.py
  timetree_exporter/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/event.py
  timetree_exporter/exporter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

docs: clarify private event mapping
  DEVELOPMENT.md
Due: none

fix: use recurring uuid for related events
  DEVELOPMENT.md
  tests/conftest.py
  tests/test_event.py
  tests/test_formatter.py
  timetree_exporter/event.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

feat: export TimeTree event comments
  DEVELOPMENT.md
  README.md
  tests/test_calendar.py
  tests/test_event.py
  tests/test_formatter.py
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/event.py
  timetree_exporter/exporter.py
  timetree_exporter/formatter.py
Due: ruff, ruff-format

chore(main): release 0.8.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

fix: use event uuid for activity requests
  tests/test_calendar.py
  timetree_exporter/api/calendar.py
Due: ruff, ruff-format

feat: export private event images
  README.md
  tests/test_calendar.py
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

fix: add timeout for attachment downloads
  tests/test_calendar.py
  timetree_exporter/api/calendar.py
  timetree_exporter/api/const.py
Due: ruff, ruff-format

fix: reject Windows separators in image keys
  tests/test_main.py
  timetree_exporter/exporter.py
Due: ruff, ruff-format

fix: sanitize image paths across platforms
  tests/test_main.py
  timetree_exporter/exporter.py
  timetree_exporter/utils.py
Due: ruff, ruff-format

feat: export images from private event activities (#210)
  README.md
  tests/test_calendar.py
  tests/test_main.py
  timetree_exporter/__main__.py
  timetree_exporter/api/calendar.py
  timetree_exporter/api/const.py
  timetree_exporter/calendar.py
  timetree_exporter/cli.py
  timetree_exporter/exporter.py
  timetree_exporter/utils.py
Due: ruff, ruff-format

chore(main): release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

chore(main): release 0.9.0 (#199)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

build(chore): Update Homebrew bump action to version 10
  .github/workflows/bump-homebrew-formula.yml
Due: none

chore(main): release 0.9.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock

Path conditions:
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
